.header__nav {
	display: flex;
	column-gap: 20px;
}

.header__Link {
	display: block;
	color: var(--color-text);
	text-decoration: none;
	padding: 10px;
}

.header__ActiveLink {
	border-bottom: 1px solid var(--color-text);
}

.header__logout {
	display: block;
	background-color: transparent;
	border: none;
	color: var(--color-text);
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
}

@media (max-width: 768px) {
	.header__nav {
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		row-gap: 10px;
	}

	.header__logout {
		padding: 10px;
	}
}